<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='/images/codifyformatter.png') }}" />
    
    <title>CodeGuard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />


</head>
<body>
    <div class="main-content">
        <div class ="name">
            <h1 id="containerText">Konstrakt</h1>
        </div>
            <form class="search-bar" action="{{ url_for('search_results') }}" method="GET" onsubmit="return validateForm()" >
                <div class="search">
                    <span class="search-icon material-symbols-outlined">search</span>
                    <input class="search-input" type="search" name="query" id="queryInput" placeholder="Search" autocomplete="off">
                </div>
            </form>
    </div>
   
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
    function validateForm() {
        var query = document.getElementById("queryInput").value.trim();
        
        if (query === "") {
            // Optionally, you can show a custom alert or message
        
            return false; // Prevent form submission
        }
        
        // Optionally, perform additional validation if needed
        
        // If validation passes, allow form submission
        return true;
      }
    </script>
</body>
</html>
